body, html, main{height:100%;}

.parallax {
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
}

.camping {
    background-image: url('../img/LegoFriendsCamping.jpg');
}

.sailing {
    background-image: url('../img/LegoFriendsSailing.jpg');
}

.space-travel {
    background-image: url('../img/LegoStarWars.jpg');
}

@media only screen and (max-width: 991.98px) {
    .parallax {
        background-attachment: scroll;
    }
    .show-background {
        display: none;    
    }
}

@media only screen and (min-width: 991.99px) {
    .show-image {
        display: none;
    }
}

.jumbotron {
    margin-bottom: 0;
}
